body{
    background: lightgray;
    height: 1000px;
}
.container{
    width: 1172px;
    margin: auto;
}


/*Start header*/

.header .slider{
    background-color: #ff0;
    height: 600px;
}
.header .navbar{
    background-color: #333;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2{
    float: left;
}
.header .navbar h2 span{
    color: rgb(0, 180, 0);
}
.header .navbar  ul{
    list-style: none;
    padding-left: 0px;
    float: right;
}
.header .navbar ul il{
    padding: 10px;
}

/*End header*/


/*Start features*/
.features{
    padding-top: 30px;
    padding-bottom: 30px;
}
.features .feat{
    float: left;
    width: 33.33%;
    background-color: aqua;
}
/*End features*/


